#admin_layout {
  height: 100%;
  background-color: #f7f7f7;
  main.page {
    height: 100%;
    padding: 15px;
    overflow-y: auto;
    > .wrap {
      padding: 20px;
      background-color: #fff;
      border-radius: 6px;
    }
  }
  .main {
    height: 100%;
    padding-top: 65px;
    padding-left: 180px;
    transition: all 0.3s;
  }
  .j_row {
    display: flex;
  }

  .card {
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  }
}

.el-popconfirm__main {
  margin-bottom: 4px;
}

.paged {
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
  .el-pagination {
    margin: 0 auto;
  }
}
